body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f0f0f0, #1c1b1b);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    text-align: center; /* Centra el contenido en línea dentro del body */
}

.centrar {
    display: block; /* Cambia la imagen a un elemento de bloque */
    margin-left: auto; /* Márgenes automáticos para centrar */
    margin-right: auto;
    max-width: 100%; /* Asegura que la imagen no exceda el ancho de la pantalla */
    height: auto; /* Mantiene la relación de aspecto */
}

.botonphis{
    background-color: red;
}
.botonsafe{
    background-color: green;
}
.container {
    text-align: center;
}
img {
    max-width: 50%; /* Asegura que la imagen no exceda el ancho de la pantalla */
    height: auto; /* Mantiene la relación de aspecto */
}
h1 {
    color: #0f0f0f;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.url-input {
    width: 80%; /* 80% del ancho */
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 36px;
}

.validate-button {
    width: 20%; /* 20% del ancho */
    padding: 10px;
    margin-left: 10px;
    background-color: black; /* Color negro */
    color: white; /* Texto blanco */
    border: none;
    border-radius: 5px; /* Bordes redondeados pero mantiene forma rectangular */
    font-size: 36px;
    cursor: pointer;
}

.validate-button:hover {
    background-color: #444; /* Color más claro al pasar el mouse */
}

.footer {
    width: 100%;
    background-color: black; /* Color negro para el footer */
    color: white; /* Texto blanco */
    text-align: center;
    padding: 2px 0; /* Espaciado vertical */
    height: 95px;
}
.logo-spacing{
    height: 50px;
}
.footer-spacing {
    height: 450px; /* Ajusta la altura según sea necesario */
}