
{% block content %}
    <div class="container text-center">
        <div class='logo-spacing'></div>
        <br/><br/><br/>
        <h1> SHARK | FISH </h1>
        <div class="logo-spacing"></div>
        <form action="" method='POST'>
            {% csrf_token %}
        <div class="input-container">
            
            <input type="text" placeholder="https://tu-url.com" name="customer_url" class="url-input">
            <button class="validate-button">Validar</button>
            
        </div>
        </form>
    </div>
    
{% endblock %}