{% extends 'base.html' %}
{% block content %}
    <div class="container text-center">
        <form action="" method='POST'>
            {% csrf_token %}
            <h1> SHARK | FISH </h1>
        <div class="input-container my-5 py-5">
            <div class="logo-spacing"></div>
            <input id="phishing" type="text" placeholder="https://tu-url.com" name="url_externa" class="url-input">
            <button class="validate-button">Validar</button>
    </div>
        </form>
    </div>
    
{% endblock %}