
{% load static %}
{% block content%}
    <div class="text-center">
        <br/><br/> <br/> <br/> <br/><br/><br/>
        <div class="container-fluid mx-2">
            <br/><br/><br/><br/>
            <h2 style="color:white;">SHARK | FISH</h2>
            <br/><br/>
            <div class="mx-2">
                <form action="" method='POST'>
                    {% csrf_token %}
                    

                        <div class="container">
                            <div class="row">
                                <div class="col-8">    
                                <input type="text" class="form-control-md" name="customer_url" placeholder="Ingresa URL"  hight="20px"/>
                                </div>
                                <div class="col-4">
                                <button class="form-control btn bg-dark" style="color:white;">Test</button>
                                </div>
                            </div>
                        </div>
                    
                </form>
            
            </div>
        </div>
        <br/><br/><br/><br/>    <br/><br/><br/> <br/><br/><br/><br/><br/><br/><br/><br/>
    </div>
{% endblock %}

