{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container text-center">
        <form action="{% url 'phishing' %}" method='POST'>
            {% csrf_token %}
            <img class="centrar" src="{% static '/img/shark11_12_00.png' %}" alt='logo'>
        <div class="input-container my-0 py-0">
            <input id="phishing" type="text" placeholder="https://tu-url.com" name="url_externa" class="url-input">
            <button class="validate-button">Validar</button>
    </div>
        </form>
    </div>
    
{% endblock %}