{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="text-center my-5 py-5">
    
    <h1>
        <img class="centrar" src="https://res.cloudinary.com/dhggemani/image/upload/v1734234560/vlp1cofz1l3xz14nkat0.png" alt='logo-fondo'>
    </h1>
    
    <h1 class="my-0">Entrenamiento Algoritmo Redes Neuronales</h1>
    <p class="mt-3"><strong><h2>URL analizada:</strong> {{ url }}</h2></p>
    <table class="table table-bordered table-hover mx-auto" style="width: 50%; text-align: center;">
        <thead class="table-dark">
            <tr>
                <th>Predicción</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="
                    font-size: 2.5em; 
                    font-weight: bold; 
                    background-color: {% if prediction == -1 %} red {% else %} green {% endif %}; 
                    color: white;">
                    {{ prediction }}
                </td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-warning" style="color:green;" href="{% url 'phishingurl' %}">
        <div><i class="fa-solid fa-radiation"></i></div> volver
    </a>
</div>
{% endblock %}

