body{
    background-color: rgba(81, 82, 81, 0.75);
}
h1{
    color: aliceblue;
}

.btn{
   text-emphasis-color: white; 
}
.footer{
    background-color:rgba(11, 5, 8, 0.66);
    color: aliceblue;
}
.form-control{

    width: 1050px;
    height: 70px;
    font-size: 35px;
}
.base{
    width: 1100px;
    height: 85px;
    background:rgba(11, 5, 8, 0.66);
    color: aliceblue;
}
.boton2{
    width: 150px;
    height: 50px;
    background-color: rgba(13, 13, 13, 0.45);
}
h1.text-start{
    margin-left: 2px;
}